---
http_interactions:
- request:
    method: post
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/AdExtensions
    body:
      encoding: UTF-8
      string: '{"AccountId":"[BING_ACCOUNT_ID]","AdExtensions":[{"Type":"CalloutAdExtension","Text":"SDK
        VCR Callout"}]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - 5a7fd5ff-38a7-4720-8353-1c08b07eb990
      X-Ms-Trackingid:
      - 5a7fd5ff-38a7-4720-8353-1c08b07eb990
      Trackingid:
      - 5a7fd5ff-38a7-4720-8353-1c08b07eb990
    body:
      encoding: UTF-8
      string: '{"AdExtensionIdentities":[{"Id":"7559423507071","Version":1}],"NestedPartialErrors":[]}'
  recorded_at: Thu, 03 Sep 2026 12:18:03 GMT
- request:
    method: post
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/AdExtensionIds/QueryByAccountId
    body:
      encoding: UTF-8
      string: '{"AccountId":"[BING_ACCOUNT_ID]","AdExtensionType":"CalloutAdExtension"}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - e25f1192-d001-4db3-bea4-39ffb63e9066
      X-Ms-Trackingid:
      - e25f1192-d001-4db3-bea4-39ffb63e9066
      Trackingid:
      - e25f1192-d001-4db3-bea4-39ffb63e9066
    body:
      encoding: UTF-8
      string: '{"AdExtensionIds":["7559423507071"]}'
  recorded_at: Thu, 03 Sep 2026 12:18:03 GMT
- request:
    method: delete
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/AdExtensions
    body:
      encoding: UTF-8
      string: '{"AccountId":"[BING_ACCOUNT_ID]","AdExtensionIds":["7559423507071"]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - 32785774-bea1-4c38-9989-e5dcd0c33fa8
      X-Ms-Trackingid:
      - 32785774-bea1-4c38-9989-e5dcd0c33fa8
      Trackingid:
      - 32785774-bea1-4c38-9989-e5dcd0c33fa8
    body:
      encoding: UTF-8
      string: '{"PartialErrors":[]}'
  recorded_at: Thu, 03 Sep 2026 12:18:04 GMT
recorded_with: VCR 6.4.0
