---
http_interactions:
- request:
    method: post
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/AdExtensions
    body:
      encoding: UTF-8
      string: '{"AccountId":"[BING_ACCOUNT_ID]","AdExtensions":[{"Type":"CalloutAdExtension","Text":"SDK
        VCR Callout"}]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - 87bd2761-8452-4e77-9a2d-46722885ce42
      X-Ms-Trackingid:
      - 87bd2761-8452-4e77-9a2d-46722885ce42
      Trackingid:
      - 87bd2761-8452-4e77-9a2d-46722885ce42
    body:
      encoding: UTF-8
      string: '{"AdExtensionIdentities":[{"Id":"7559423507069","Version":1}],"NestedPartialErrors":[]}'
  recorded_at: Thu, 03 Sep 2026 12:17:58 GMT
- request:
    method: delete
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/AdExtensions
    body:
      encoding: UTF-8
      string: '{"AccountId":"[BING_ACCOUNT_ID]","AdExtensionIds":["7559423507069"]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - 18712c91-dd8e-439e-932c-088661d7358b
      X-Ms-Trackingid:
      - 18712c91-dd8e-439e-932c-088661d7358b
      Trackingid:
      - 18712c91-dd8e-439e-932c-088661d7358b
    body:
      encoding: UTF-8
      string: '{"PartialErrors":[]}'
  recorded_at: Thu, 03 Sep 2026 12:17:59 GMT
recorded_with: VCR 6.4.0
