---
http_interactions:
- request:
    method: post
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/AdExtensions
    body:
      encoding: UTF-8
      string: '{"AccountId":"[BING_ACCOUNT_ID]","AdExtensions":[{"Type":"CalloutAdExtension","Text":"SDK
        VCR Callout"}]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - 27d4e46a-ec32-4502-a310-a0d12678ef4d
      X-Ms-Trackingid:
      - 27d4e46a-ec32-4502-a310-a0d12678ef4d
      Trackingid:
      - 27d4e46a-ec32-4502-a310-a0d12678ef4d
    body:
      encoding: UTF-8
      string: '{"AdExtensionIdentities":[{"Id":"7559423507072","Version":1}],"NestedPartialErrors":[]}'
  recorded_at: Thu, 03 Sep 2026 12:18:05 GMT
- request:
    method: delete
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/AdExtensions
    body:
      encoding: UTF-8
      string: '{"AccountId":"[BING_ACCOUNT_ID]","AdExtensionIds":["7559423507072"]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - e093eb8b-daab-4e26-8797-0cac1c907250
      X-Ms-Trackingid:
      - e093eb8b-daab-4e26-8797-0cac1c907250
      Trackingid:
      - e093eb8b-daab-4e26-8797-0cac1c907250
    body:
      encoding: UTF-8
      string: '{"PartialErrors":[]}'
  recorded_at: Thu, 03 Sep 2026 12:18:06 GMT
recorded_with: VCR 6.4.0
