---
http_interactions:
- request:
    method: post
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/Campaigns
    body:
      encoding: UTF-8
      string: '{"AccountId":"[BING_ACCOUNT_ID]","Campaigns":[{"Name":"SDK VCR Campaign
        d8e65a6f","DailyBudget":1,"BudgetType":"DailyBudgetStandard","TimeZone":"BrusselsCopenhagenMadridParis","Status":"Paused"}]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - 8a79f6b9-a603-4b31-9713-0b36c588c720
      X-Ms-Trackingid:
      - 8a79f6b9-a603-4b31-9713-0b36c588c720
      Trackingid:
      - 8a79f6b9-a603-4b31-9713-0b36c588c720
    body:
      encoding: UTF-8
      string: '{"CampaignIds":["607373735"],"PartialErrors":[]}'
  recorded_at: Thu, 03 Sep 2026 12:18:41 GMT
- request:
    method: post
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/AdExtensions
    body:
      encoding: UTF-8
      string: '{"AccountId":"[BING_ACCOUNT_ID]","AdExtensions":[{"Type":"CalloutAdExtension","Text":"SDK
        VCR Callout"}]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - bb32926a-5314-4c9d-ab05-ea2bff21be18
      X-Ms-Trackingid:
      - bb32926a-5314-4c9d-ab05-ea2bff21be18
      Trackingid:
      - bb32926a-5314-4c9d-ab05-ea2bff21be18
    body:
      encoding: UTF-8
      string: '{"AdExtensionIdentities":[{"Id":"7559423507073","Version":1}],"NestedPartialErrors":[]}'
  recorded_at: Thu, 03 Sep 2026 12:18:42 GMT
- request:
    method: post
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/AdExtensionsAssociations/Set
    body:
      encoding: UTF-8
      string: '{"AccountId":"[BING_ACCOUNT_ID]","AdExtensionIdToEntityIdAssociations":[{"AdExtensionId":"7559423507073","EntityId":"607373735"}],"AssociationType":"Campaign"}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - e4d2bb01-2a9c-4651-8dcb-4097e544f390
      X-Ms-Trackingid:
      - e4d2bb01-2a9c-4651-8dcb-4097e544f390
      Trackingid:
      - e4d2bb01-2a9c-4651-8dcb-4097e544f390
    body:
      encoding: UTF-8
      string: '{"PartialErrors":[]}'
  recorded_at: Thu, 03 Sep 2026 12:18:43 GMT
- request:
    method: post
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/AdExtensionsAssociations/Query
    body:
      encoding: UTF-8
      string: '{"AccountId":"[BING_ACCOUNT_ID]","AdExtensionType":"CalloutAdExtension","AssociationType":"Campaign","EntityIds":["607373735"]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - f75e105d-1a61-4136-91f7-2cf21f7105d1
      X-Ms-Trackingid:
      - f75e105d-1a61-4136-91f7-2cf21f7105d1
      Trackingid:
      - f75e105d-1a61-4136-91f7-2cf21f7105d1
    body:
      encoding: UTF-8
      string: '{"AdExtensionAssociationCollection":[{"AdExtensionAssociations":[{"EntityId":"607373735","AssociationType":"Campaign","AdExtension":{"Text":"SDK
        VCR Callout","Status":"Active","Scheduling":null,"DevicePreference":null,"Id":"7559423507073","Type":"CalloutAdExtension","Version":1,"ForwardCompatibilityMap":[]},"EditorialStatus":"Active"}]}],"PartialErrors":[]}'
  recorded_at: Thu, 03 Sep 2026 12:18:43 GMT
- request:
    method: delete
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/AdExtensionsAssociations
    body:
      encoding: UTF-8
      string: '{"AccountId":"[BING_ACCOUNT_ID]","AdExtensionIdToEntityIdAssociations":[{"AdExtensionId":"7559423507073","EntityId":"607373735"}],"AssociationType":"Campaign"}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - eb78b9da-4d77-4d52-986a-e5fbebed1598
      X-Ms-Trackingid:
      - eb78b9da-4d77-4d52-986a-e5fbebed1598
      Trackingid:
      - eb78b9da-4d77-4d52-986a-e5fbebed1598
    body:
      encoding: UTF-8
      string: '{"PartialErrors":[]}'
  recorded_at: Thu, 03 Sep 2026 12:18:44 GMT
- request:
    method: delete
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/AdExtensions
    body:
      encoding: UTF-8
      string: '{"AccountId":"[BING_ACCOUNT_ID]","AdExtensionIds":["7559423507073"]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - 54223634-bcc7-4dc9-8565-454a853a95e3
      X-Ms-Trackingid:
      - 54223634-bcc7-4dc9-8565-454a853a95e3
      Trackingid:
      - 54223634-bcc7-4dc9-8565-454a853a95e3
    body:
      encoding: UTF-8
      string: '{"PartialErrors":[]}'
  recorded_at: Thu, 03 Sep 2026 12:18:45 GMT
- request:
    method: delete
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/Campaigns
    body:
      encoding: UTF-8
      string: '{"AccountId":"[BING_ACCOUNT_ID]","CampaignIds":["607373735"]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - 9cbfaef0-b1cb-47f8-abf9-584a08184afa
      X-Ms-Trackingid:
      - 9cbfaef0-b1cb-47f8-abf9-584a08184afa
      Trackingid:
      - 9cbfaef0-b1cb-47f8-abf9-584a08184afa
    body:
      encoding: UTF-8
      string: '{"PartialErrors":[]}'
  recorded_at: Thu, 03 Sep 2026 12:18:46 GMT
recorded_with: VCR 6.4.0
