---
http_interactions:
- request:
    method: post
    uri: https://login.microsoftonline.com/common/oauth2/v2.0/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=[BING_REFRESH_TOKEN]&client_id=[BING_CLIENT_ID]&client_secret=[BING_CLIENT_SECRET]&scope=https%3A%2F%2Fads.microsoft.com%2Fmsads.manage
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Clientdata:
      - m|||microsoftonline.com|none
      X-Ms-Srs:
      - 1.P
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","scope":"https://ads.microsoft.com/msads.manage","expires_in":3599,"ext_expires_in":3599,"access_token":"[BING_ACCESS_TOKEN]"}'
  recorded_at: Thu, 03 Sep 2026 12:02:40 GMT
- request:
    method: post
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/Budgets
    body:
      encoding: UTF-8
      string: '{"Budgets":[{"Name":"SDK VCR Budget a7047874","Amount":1,"BudgetType":"DailyBudgetStandard"}]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - b2428cd0-10c5-431e-a28a-aee6bfebf768
      X-Ms-Trackingid:
      - b2428cd0-10c5-431e-a28a-aee6bfebf768
      Trackingid:
      - b2428cd0-10c5-431e-a28a-aee6bfebf768
    body:
      encoding: UTF-8
      string: '{"BudgetIds":["7559143096782"],"PartialErrors":[]}'
  recorded_at: Thu, 03 Sep 2026 12:02:41 GMT
- request:
    method: delete
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/Budgets
    body:
      encoding: UTF-8
      string: '{"BudgetIds":["7559143096782"]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - 0a821420-ca1c-4093-8c08-2b7cd912bfce
      X-Ms-Trackingid:
      - 0a821420-ca1c-4093-8c08-2b7cd912bfce
      Trackingid:
      - 0a821420-ca1c-4093-8c08-2b7cd912bfce
    body:
      encoding: UTF-8
      string: '{"PartialErrors":[]}'
  recorded_at: Thu, 03 Sep 2026 12:02:42 GMT
recorded_with: VCR 6.4.0
