---
http_interactions:
- request:
    method: post
    uri: https://bulk.api.bingads.microsoft.com/Bulk/v13/Campaigns/DownloadByAccountIds
    body:
      encoding: UTF-8
      string: '{"AccountIds":["[BING_ACCOUNT_ID]"],"CompressionType":"Zip","DataScope":"EntityData","DownloadEntities":["Campaigns"],"DownloadFileType":"Csv","FormatVersion":"6.0"}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - ef58baa7-5a7e-4d97-a8f5-a5de9540ce1c
      X-Ms-Trackingid:
      - ef58baa7-5a7e-4d97-a8f5-a5de9540ce1c
      Trackingid:
      - ef58baa7-5a7e-4d97-a8f5-a5de9540ce1c
    body:
      encoding: UTF-8
      string: '{"DownloadRequestId":"486129637315944449"}'
  recorded_at: Thu, 03 Sep 2026 11:05:37 GMT
recorded_with: VCR 6.4.0
