---
http_interactions:
- request:
    method: post
    uri: https://bulk.api.bingads.microsoft.com/Bulk/v13/BulkUploadUrl/Query
    body:
      encoding: UTF-8
      string: '{"AccountId":"[BING_ACCOUNT_ID]","CompressUpload":false,"AccountUploadScope":"Customer","Entities":["Campaigns"]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - d99c742a-df3a-45fa-8b6b-1cc8e697c9c0
      X-Ms-Trackingid:
      - d99c742a-df3a-45fa-8b6b-1cc8e697c9c0
      Trackingid:
      - d99c742a-df3a-45fa-8b6b-1cc8e697c9c0
    body:
      encoding: UTF-8
      string: '{"UploadUrl":"https://campaign.api.bingads.microsoft.com/Api/Advertiser/CampaignManagement/FileUpload/File/UploadBulkFile/7ad7d2b7-fce3-4860-b4f5-0296822ae31c?Ver=13","RequestId":"7ad7d2b7-fce3-4860-b4f5-0296822ae31c"}'
  recorded_at: Thu, 03 Sep 2026 11:04:46 GMT
- request:
    method: post
    uri: https://bulk.api.bingads.microsoft.com/Bulk/v13/BulkUploadStatus/Query
    body:
      encoding: UTF-8
      string: '{"RequestId":"7ad7d2b7-fce3-4860-b4f5-0296822ae31c"}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - a50cc4d3-eb3c-4d11-97da-83d363bf5d7c
      X-Ms-Trackingid:
      - a50cc4d3-eb3c-4d11-97da-83d363bf5d7c
      Trackingid:
      - a50cc4d3-eb3c-4d11-97da-83d363bf5d7c
    body:
      encoding: UTF-8
      string: '{"RequestStatus":"PendingFileUpload","ResultFileUrl":null,"PercentComplete":0,"ForwardCompatibilityMap":[],"Errors":null}'
  recorded_at: Thu, 03 Sep 2026 11:04:47 GMT
recorded_with: VCR 6.4.0
