---
http_interactions:
- request:
    method: post
    uri: https://bulk.api.bingads.microsoft.com/Bulk/v13/BulkUploadUrl/Query
    body:
      encoding: UTF-8
      string: '{"AccountId":"[BING_ACCOUNT_ID]","CompressUpload":false,"AccountUploadScope":"Customer","Entities":["Campaigns"]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - e7f902f3-aaa9-4d65-8b2f-8d718d221858
      X-Ms-Trackingid:
      - e7f902f3-aaa9-4d65-8b2f-8d718d221858
      Trackingid:
      - e7f902f3-aaa9-4d65-8b2f-8d718d221858
    body:
      encoding: UTF-8
      string: '{"UploadUrl":"https://campaign.api.bingads.microsoft.com/Api/Advertiser/CampaignManagement/FileUpload/File/UploadBulkFile/161d6727-d1eb-416b-9f66-5e349af3c372?Ver=13","RequestId":"161d6727-d1eb-416b-9f66-5e349af3c372"}'
  recorded_at: Thu, 03 Sep 2026 11:07:45 GMT
- request:
    method: post
    uri: https://campaign.api.bingads.microsoft.com/Api/Advertiser/CampaignManagement/FileUpload/File/UploadBulkFile/161d6727-d1eb-416b-9f66-5e349af3c372?Ver=13
    body:
      encoding: UTF-8
      string: "------BingAdsRubySdk8f0f548495d6ec07ee2ec907e7418171\r\nContent-Disposition:
        form-data; name=\"file\"; filename=\"sdk-vcr-hierarchy.csv\"\r\nContent-Type:
        text/csv\r\n\r\n\uFEFFType,Name,Status,Campaign,Campaign Type,Budget,Budget
        Type,Time Zone,Ad Group,Ad Group Type,Language,Keyword,Bid,Match Type\nFormat
        Version,6.0,,,,,,,,,,,,\nCampaign,,Paused,SDK VCR Hierarchy,Search,1,DailyBudgetStandard,RomanceStandardTime,,,,,,\nAd
        Group,,Paused,SDK VCR Hierarchy,,,,,SDK VCR Ad Group,SearchStandard,English,,,\nKeyword,,Paused,SDK
        VCR Hierarchy,,,,,SDK VCR Ad Group,,,sdk vcr keyword,0.1,Exact\n\r\n------BingAdsRubySdk8f0f548495d6ec07ee2ec907e7418171--\r\n"
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - multipart/form-data; boundary=----BingAdsRubySdk8f0f548495d6ec07ee2ec907e7418171
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authenticationtoken:
      - eyJhbGciOiJkaXIiLCJlbmMiOiJBMjU2Q0JDLUhTNTEyIiwia2lkIjoiYWZ1M0RDMzRDS1hETFdGUy1ubVNseDZ5VlpHOTl1aTc0NklhbHgzelJJUSIsInppcCI6IkRFRiJ9..z4Ej6Mkwj-KV9g4RM-P5zw.icd2T5n25BHmBHFHJQU6GjkdORxpL_mRcoykGjjPrJmrmnazXPyGVmZn3F--p8qR3teVzZDfmaSkvHv7ZpXBtMJIEYv1iRa2-RkpNeQSovaBfkH49zQoVF1EmJYIOGkJ4pKwqvvg78O7Mc4OJzsbqns0y-CcMvR_ERZIoQdGcxjB0AzU1rQrzfc1_p0nRA_UZ1UsBvkizBoWQJN0gYn0SzFwdjTKtfZ3UYvU2AK7ZN4Y_N5roX0yYydcwb_twiqhYEctecDR8XrTNgsR61dtnbHly515ylqFpD5z2N9SsbGNpb14ScMQSHjQv1oDDAh9w2eo9tlgNT5u0D[...]
- request:
    method: post
    uri: https://bulk.api.bingads.microsoft.com/Bulk/v13/BulkUploadStatus/Query
    body:
      encoding: UTF-8
      string: '{"RequestId":"161d6727-d1eb-416b-9f66-5e349af3c372"}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - 7ad0ea89-5b99-4648-8750-af4650349f40
      X-Ms-Trackingid:
      - 7ad0ea89-5b99-4648-8750-af4650349f40
      Trackingid:
      - 7ad0ea89-5b99-4648-8750-af4650349f40
    body:
      encoding: UTF-8
      string: '{"RequestStatus":"InProgress","ResultFileUrl":null,"PercentComplete":0,"ForwardCompatibilityMap":[],"Errors":null}'
  recorded_at: Thu, 03 Sep 2026 11:07:47 GMT
[...]
- request:
    method: post
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/Campaigns/QueryByAccountId
    body:
      encoding: UTF-8
      string: '{"AccountId":"[BING_ACCOUNT_ID]","Fields":["Id","Name"]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - 5dd2b330-02af-463b-b299-8c9986ec77e7
      X-Ms-Trackingid:
      - 5dd2b330-02af-463b-b299-8c9986ec77e7
      Trackingid:
      - 5dd2b330-02af-463b-b299-8c9986ec77e7
    body:
      encoding: UTF-8
      string: '{"Campaigns":[{"Id":"607373427","Name":"SDK VCR Hierarchy 2","Status":"Paused","DailyBudget":1,"BudgetType":"DailyBudgetStandard","TimeZone":"BrusselsCopenhagenMadridParis","Settings":null,"CampaignType":"Search","SubType":null,"AudienceAdsBidAdjustment":0,"TrackingUrlTemplate":null,"FinalUrlSuffix":null,"UrlCustomParameters":null,"BiddingScheme":{"Type":"EnhancedCpc"},"BudgetId":null,"Languages":null,"ExperimentId":null,"ForwardCompatibilityMap":[]},{"Id":"607373460","Name":"SDK
        VCR Hierarchy","Status":"Paused","DailyBudget":1,"BudgetType":"DailyBudgetStandard","TimeZone":"BrusselsCopenhagenMadridParis","Settings":null,"CampaignType":"Search","SubType":null,"AudienceAdsBidAdjustment":0,"TrackingUrlTemplate":null,"FinalUrlSuffix":null,"UrlCustomParameters":null,"BiddingScheme":{"Type":"EnhancedCpc"},"BudgetId":null,"Languages":null,"ExperimentId":null,"ForwardCompatibilityMap":[]}]}'
  recorded_at: Thu, 03 Sep 2026 11:07:48 GMT
- request:
    method: post
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/AdGroups/QueryByCampaignId
    body:
      encoding: UTF-8
      string: '{"AccountId":"[BING_ACCOUNT_ID]","CampaignId":"607373460","Fields":["Id","Name"]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - 0465a798-2e0f-43ac-b7fa-a5426513ca81
      X-Ms-Trackingid:
      - 0465a798-2e0f-43ac-b7fa-a5426513ca81
      Trackingid:
      - 0465a798-2e0f-43ac-b7fa-a5426513ca81
    body:
      encoding: UTF-8
      string: '{"AdGroups":[{"Id":"1342506296238011","Name":"SDK VCR Ad Group","StartDate":{"Year":2026,"Month":9,"Day":3},"EndDate":null,"Language":"English","Status":"Paused","PrivacyStatus":null,"CpcBid":{"Amount":0.05},"Network":"OwnedAndOperatedAndSyndicatedSearch","AdRotation":null,"AudienceAdsBidAdjustment":null,"TrackingUrlTemplate":null,"FinalUrlSuffix":null,"UrlCustomParameters":null,"BiddingScheme":{"Type":"InheritFromParent","InheritedBidStrategyType":"EnhancedCpc"},"Settings":null,"ForwardCompatibilityMap":[]}]}'
  recorded_at: Thu, 03 Sep 2026 11:07:49 GMT
- request:
    method: post
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/Keywords/QueryByAdGroupId
    body:
      encoding: UTF-8
      string: '{"AccountId":"[BING_ACCOUNT_ID]","AdGroupId":"1342506296238011","Fields":["Id","Keyword","Status"]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - 4926a41f-4d74-4707-b481-b0c491c5ea77
      X-Ms-Trackingid:
      - 4926a41f-4d74-4707-b481-b0c491c5ea77
      Trackingid:
      - 4926a41f-4d74-4707-b481-b0c491c5ea77
    body:
      encoding: UTF-8
      string: '{"Keywords":[{"Id":"83907934205078","Bid":{"Amount":0.1},"MatchType":"Exact","Param1":"","Param2":"","Param3":"","Text":"sdk
        vcr keyword","Status":"Paused","EditorialStatus":"Active","DestinationUrl":"","TrackingUrlTemplate":null,"UrlCustomParameters":null,"FinalUrls":null,"FinalMobileUrls":null,"FinalAppUrls":null,"BiddingScheme":{"Type":"InheritFromParent","InheritedBidStrategyType":"EnhancedCpc"},"FinalUrlSuffix":null,"ForwardCompatibilityMap":[]}]}'
  recorded_at: Thu, 03 Sep 2026 11:07:50 GMT
- request:
    method: post
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/AdGroups/QueryByIds
    body:
      encoding: UTF-8
      string: '{"AccountId":"[BING_ACCOUNT_ID]","CampaignId":"607373460","AdGroupIds":["1342506296238011"],"Fields":["Id","Name","Status"]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - 4ef4accb-1c68-4bd8-b46f-9ad1d3ea557e
      X-Ms-Trackingid:
      - 4ef4accb-1c68-4bd8-b46f-9ad1d3ea557e
      Trackingid:
      - 4ef4accb-1c68-4bd8-b46f-9ad1d3ea557e
    body:
      encoding: UTF-8
      string: '{"AdGroups":[{"Id":"1342506296238011","Name":"SDK VCR Ad Group","StartDate":{"Year":2026,"Month":9,"Day":3},"EndDate":null,"Language":"English","Status":"Paused","PrivacyStatus":null,"CpcBid":{"Amount":0.05},"Network":"OwnedAndOperatedAndSyndicatedSearch","AdRotation":null,"AudienceAdsBidAdjustment":null,"TrackingUrlTemplate":null,"FinalUrlSuffix":null,"UrlCustomParameters":null,"BiddingScheme":{"Type":"InheritFromParent","InheritedBidStrategyType":"EnhancedCpc"},"Settings":null,"ForwardCompatibilityMap":[]}],"PartialErrors":[]}'
  recorded_at: Thu, 03 Sep 2026 11:07:50 GMT
- request:
    method: delete
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/Campaigns
    body:
      encoding: UTF-8
      string: '{"AccountId":"[BING_ACCOUNT_ID]","CampaignIds":["607373460"]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - c24c4052-896c-4f23-a372-e2957f8fa0e2
      X-Ms-Trackingid:
      - c24c4052-896c-4f23-a372-e2957f8fa0e2
      Trackingid:
      - c24c4052-896c-4f23-a372-e2957f8fa0e2
    body:
      encoding: UTF-8
      string: '{"PartialErrors":[]}'
  recorded_at: Thu, 03 Sep 2026 11:07:51 GMT
recorded_with: VCR 6.4.0
