---
http_interactions:
- request:
    method: post
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/Campaigns
    body:
      encoding: UTF-8
      string: '{"AccountId":"[BING_ACCOUNT_ID]","Campaigns":[{"Name":"SDK VCR Campaign
        8cf6fd4c","DailyBudget":1,"BudgetType":"DailyBudgetStandard","TimeZone":"BrusselsCopenhagenMadridParis","Status":"Paused"}]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - 899e9a19-e44d-413c-bcad-20398fb1c4ff
      X-Ms-Trackingid:
      - 899e9a19-e44d-413c-bcad-20398fb1c4ff
      Trackingid:
      - 899e9a19-e44d-413c-bcad-20398fb1c4ff
    body:
      encoding: UTF-8
      string: '{"CampaignIds":["607373580"],"PartialErrors":[]}'
  recorded_at: Thu, 03 Sep 2026 12:13:10 GMT
- request:
    method: post
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/CampaignCriterions
    body:
      encoding: UTF-8
      string: '{"CampaignCriterions":[{"CampaignId":"607373580","Criterion":{"Type":"LocationCriterion","LocationId":190},"Status":"Active","Type":"NegativeCampaignCriterion"}],"CriterionType":"Targets"}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - d4be59ff-5b57-4701-a6b3-b50300f7f30a
      X-Ms-Trackingid:
      - d4be59ff-5b57-4701-a6b3-b50300f7f30a
      Trackingid:
      - d4be59ff-5b57-4701-a6b3-b50300f7f30a
    body:
      encoding: UTF-8
      string: '{"CampaignCriterionIds":["7572121523375"],"NestedPartialErrors":[]}'
  recorded_at: Thu, 03 Sep 2026 12:13:11 GMT
[...]
- request:
    method: delete
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/Campaigns
    body:
      encoding: UTF-8
      string: '{"AccountId":"[BING_ACCOUNT_ID]","CampaignIds":["607373580"]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - 44bea607-5b66-44f0-9c5f-43c4290da98e
      X-Ms-Trackingid:
      - 44bea607-5b66-44f0-9c5f-43c4290da98e
      Trackingid:
      - 44bea607-5b66-44f0-9c5f-43c4290da98e
    body:
      encoding: UTF-8
      string: '{"PartialErrors":[]}'
  recorded_at: Thu, 03 Sep 2026 12:13:13 GMT
recorded_with: VCR 6.4.0
