---
http_interactions:
- request:
    method: post
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/Campaigns
    body:
      encoding: UTF-8
      string: '{"AccountId":"[BING_ACCOUNT_ID]","Campaigns":[{"Name":"SDK VCR Campaign
        de546b46","DailyBudget":1,"BudgetType":"DailyBudgetStandard","TimeZone":"BrusselsCopenhagenMadridParis","Status":"Paused"}]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - 8e50b02b-3754-4973-b3a2-efdd31361e3d
      X-Ms-Trackingid:
      - 8e50b02b-3754-4973-b3a2-efdd31361e3d
      Trackingid:
      - 8e50b02b-3754-4973-b3a2-efdd31361e3d
    body:
      encoding: UTF-8
      string: '{"CampaignIds":["607373454"],"PartialErrors":[]}'
  recorded_at: Thu, 03 Sep 2026 10:57:31 GMT
- request:
    method: delete
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/Campaigns
    body:
      encoding: UTF-8
      string: '{"AccountId":"[BING_ACCOUNT_ID]","CampaignIds":["607373454"]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - 5547ab3f-20bf-42d2-a848-286839673ac0
      X-Ms-Trackingid:
      - 5547ab3f-20bf-42d2-a848-286839673ac0
      Trackingid:
      - 5547ab3f-20bf-42d2-a848-286839673ac0
    body:
      encoding: UTF-8
      string: '{"PartialErrors":[]}'
  recorded_at: Thu, 03 Sep 2026 10:57:32 GMT
recorded_with: VCR 6.4.0
