---
http_interactions:
- request:
    method: post
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/Campaigns
    body:
      encoding: UTF-8
      string: '{"AccountId":"[BING_ACCOUNT_ID]","Campaigns":[{"Name":"SDK VCR Campaign
        c81d5fa0","DailyBudget":1,"BudgetType":"DailyBudgetStandard","TimeZone":"BrusselsCopenhagenMadridParis","Status":"Paused"}]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - 495029a7-9cd8-4675-9d03-a38f3640f363
      X-Ms-Trackingid:
      - 495029a7-9cd8-4675-9d03-a38f3640f363
      Trackingid:
      - 495029a7-9cd8-4675-9d03-a38f3640f363
    body:
      encoding: UTF-8
      string: '{"CampaignIds":["607373582"],"PartialErrors":[]}'
  recorded_at: Thu, 03 Sep 2026 12:13:18 GMT
- request:
    method: post
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/CampaignCriterions
    body:
      encoding: UTF-8
      string: '{"CampaignCriterions":[{"CampaignId":"607373582","Criterion":{"Type":"LocationCriterion","LocationId":190},"Status":"Active","Type":"NegativeCampaignCriterion"}],"CriterionType":"Targets"}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - 85b8102e-6c32-4595-a768-1b502e118441
      X-Ms-Trackingid:
      - 85b8102e-6c32-4595-a768-1b502e118441
      Trackingid:
      - 85b8102e-6c32-4595-a768-1b502e118441
    body:
      encoding: UTF-8
      string: '{"CampaignCriterionIds":["7572121523377"],"NestedPartialErrors":[]}'
  recorded_at: Thu, 03 Sep 2026 12:13:19 GMT
[...]
- request:
    method: delete
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/Campaigns
    body:
      encoding: UTF-8
      string: '{"AccountId":"[BING_ACCOUNT_ID]","CampaignIds":["607373582"]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - f3afe3e8-4c94-41b9-93b9-b6702eae2140
      X-Ms-Trackingid:
      - f3afe3e8-4c94-41b9-93b9-b6702eae2140
      Trackingid:
      - f3afe3e8-4c94-41b9-93b9-b6702eae2140
    body:
      encoding: UTF-8
      string: '{"PartialErrors":[]}'
  recorded_at: Thu, 03 Sep 2026 12:13:21 GMT
recorded_with: VCR 6.4.0
