---
http_interactions:
- request:
    method: post
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/ConversionGoals/QueryByTagIds
    body:
      encoding: UTF-8
      string: '{"ConversionGoalTypes":"Event","TagIds":[211077200]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - 30237d2a-2865-4181-83d2-a8b8ade5f892
      X-Ms-Trackingid:
      - 30237d2a-2865-4181-83d2-a8b8ade5f892
      Trackingid:
      - 30237d2a-2865-4181-83d2-a8b8ade5f892
    body:
      encoding: UTF-8
      string: '{"ConversionGoals":[{"CategoryExpression":null,"CategoryOperator":null,"ActionExpression":"sdk_test","ActionOperator":"Equals","LabelExpression":null,"LabelOperator":null,"ValueOperator":null,"Type":"Event","Value":null,"Name":"SDK
        REST Goal 093107","Status":"Paused","Scope":"Customer","CountType":"All","Revenue":{"Type":"NoValue","Value":null,"CurrencyCode":null},"ConversionWindowInMinutes":43200,"TagId":"211077200","TrackingStatus":"TagUnverified","ExcludeFromBidding":false,"Id":"172211594"}],"PartialErrors":[]}'
  recorded_at: Thu, 03 Sep 2026 12:03:36 GMT
recorded_with: VCR 6.4.0
