---
http_interactions:
- request:
    method: post
    uri: https://clientcenter.api.bingads.microsoft.com/CustomerManagement/v13/Customer/Query
    body:
      encoding: UTF-8
      string: '{"CustomerId":"[BING_CUSTOMER_ID]"}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - db333708-4d6e-411c-a00e-c8749c59b60a
      X-Ms-Trackingid:
      - db333708-4d6e-411c-a00e-c8749c59b60a
      Trackingid:
      - db333708-4d6e-411c-a00e-c8749c59b60a
    body:
      encoding: UTF-8
      string: '{"Customer":{"CustomerFinancialStatus":"ClearFinancialStatus","Id":"[BING_CUSTOMER_ID]","Industry":"NA","LastModifiedByUserId":"0","LastModifiedTime":"2023-08-04T03:15:06.913","MarketCountry":"FR","MarketLanguage":"French","Name":"SoLocal
        Effilab","ServiceLevel":"Premium","CustomerLifeCycleStatus":"Active","TimeStamp":"AAAAAIWbTAg=","Number":"F12600YGK1","CustomerAddress":{"City":"Paris","CountryCode":"FR","Id":"115101041","Line1":"Boulogne
        Billancourt","Line2":"204 rond point du pont de S\u00E8vres","Line3":null,"Line4":null,"PostalCode":"92100
        ","StateOrProvince":"35","TimeStamp":"AAAAABKOOHQ=","BusinessName":null},"ForwardCompatibilityMap":[{"Key":"ManagedByCustomerId","Value":"0"}]}}'
  recorded_at: Fri, 04 Sep 2026 09:05:12 GMT
recorded_with: VCR 6.4.0
