---
http_interactions:
- request:
    method: post
    uri: https://clientcenter.api.bingads.microsoft.com/CustomerBilling/v13/InsertionOrders/Search
    body:
      encoding: UTF-8
      string: '{"Predicates":[{"Field":"AccountId","Operator":"Equals","Value":"[BING_ACCOUNT_ID]"}],"Ordering":[{"Field":"Id","Order":"Ascending"}],"PageInfo":{"Index":0,"Size":25}}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - 8e277422-068a-41ee-bdc4-8d11b8a49c46
      X-Ms-Trackingid:
      - 8e277422-068a-41ee-bdc4-8d11b8a49c46
      Trackingid:
      - 8e277422-068a-41ee-bdc4-8d11b8a49c46
    body:
      encoding: UTF-8
      string: '{"InsertionOrders":[{"AccountId":"[BING_ACCOUNT_ID]","BookingCountryCode":null,"Comment":"","EndDate":"2026-10-01T23:59:59.997","Id":"151168670","LastModifiedByUserId":"145057832","LastModifiedTime":"2026-09-02T09:01:58.717","NotificationThreshold":null,"ReferenceId":null,"SpendCapAmount":100,"StartDate":"2026-09-02T00:00:00","Name":"","Status":"Active","PurchaseOrder":"","PendingChanges":null,"AccountNumber":"F110XP1K","BudgetRemaining":100,"BudgetSpent":0,"BudgetRemainingPercent":100,"BudgetSpentPercent":0,"SeriesName":"Test","IsInSeries":true,"SeriesFrequencyType":"Monthly"},{"AccountId":"[BING_ACCOUNT_ID]","BookingCountryCode":null,"Comment":"","EndDate":"2026-11-01T23:59:59.997","Id":"151168671","LastModifiedByUserId":"145057832","LastModifiedTime":"2026-09-02T09:02:05.987","NotificationThreshold":null,"ReferenceId":null,"SpendCapAmount":100,"StartDate":"2026-10-02T00:00:00","Name":"","Status":"NotStarted","PurchaseOrder":"","PendingChanges":null,"AccountNumber":"F110XP1K","BudgetRemaining":100,"BudgetSpent":0,"BudgetRemainingPercent":100,"BudgetSpentPe[...]
