---
http_interactions:
- request:
    method: post
    uri: https://bulk.api.bingads.microsoft.com/Bulk/v13/BulkUploadUrl/Query
    body:
      encoding: UTF-8
      string: '{"AccountId":"[BING_ACCOUNT_ID]","CompressUpload":false,"AccountUploadScope":"Customer","Entities":["Campaigns"]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - 6ad9b1f5-e282-4614-a147-f8236b655f55
      X-Ms-Trackingid:
      - 6ad9b1f5-e282-4614-a147-f8236b655f55
      Trackingid:
      - 6ad9b1f5-e282-4614-a147-f8236b655f55
    body:
      encoding: UTF-8
      string: '{"UploadUrl":"https://campaign.api.bingads.microsoft.com/Api/Advertiser/CampaignManagement/FileUpload/File/UploadBulkFile/c65cf9c8-8b2a-46c9-b2b3-b959e71ef186?Ver=13","RequestId":"c65cf9c8-8b2a-46c9-b2b3-b959e71ef186"}'
  recorded_at: Fri, 04 Sep 2026 08:49:47 GMT
- request:
    method: post
    uri: https://campaign.api.bingads.microsoft.com/Api/Advertiser/CampaignManagement/FileUpload/File/UploadBulkFile/c65cf9c8-8b2a-46c9-b2b3-b959e71ef186?Ver=13
    body:
      encoding: UTF-8
      string: "------BingAdsRubySdkd21d42ba199cf912be4516524bfcf0a7\r\nContent-Disposition:
        form-data; name=\"file\"; filename=\"sdk-vcr-hierarchy.csv\"\r\nContent-Type:
        text/csv\r\n\r\n\uFEFFType,Name,Status,Campaign,Campaign Type,Budget,Budget
        Type,Time Zone,Ad Group,Ad Group Type,Language,Keyword,Bid,Match Type\nFormat
        Version,6.0,,,,,,,,,,,,\nCampaign,,Paused,SDK VCR Hierarchy,Search,1,DailyBudgetStandard,RomanceStandardTime,,,,,,\nAd
        Group,,Paused,SDK VCR Hierarchy,,,,,SDK VCR Ad Group,SearchStandard,English,,,\nKeyword,,Paused,SDK
        VCR Hierarchy,,,,,SDK VCR Ad Group,,,sdk vcr keyword,0.1,Exact\n\r\n------BingAdsRubySdkd21d42ba199cf912be4516524bfcf0a7--\r\n"
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - multipart/form-data; boundary=----BingAdsRubySdkd21d42ba199cf912be4516524bfcf0a7
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authenticationtoken:
      - eyJhbGciOiJkaXIiLCJlbmMiOiJBMjU2Q0JDLUhTNTEyIiwia2lkIjoiYWZ1M0RDMzRDS1hETFdGUy1ubVNseDZ5VlpHOTl1aTc0NklhbHgzelJJUSIsInppcCI6IkRFRiJ9..us8UTyvxBiqg_pcMnC59Yw.yw4gY0qEJQpBKI2077NGE7R_1jwcIfHz5RbNJEFdI-rbKT_w6S8YjuuRKtbIeUKh5jxPsLgXsW78o6T3_wXcI7FPMArdQGABSMlFDRS2m9ymmRJarwLWpYjuDj5rfSc-_vGQ-X7ooQgHp8px8AZFCFtPPOmYre4OWAV00atlQhMPtRQpOH7krncwIh8FF5_1BQZLzfjNCtU9RHgX5hO4x90wCpoUGQZ_two_iOeACYJcB5K8o_sWgEyJ9ur-LSGJjlpd6ZzBBzyoZuyuPQy10cwK21cx2LESWnnADtz5i5nohaCgY8eu52Ge-ERnBFLeCKvUNk0Jo4sjuZ[...]
- request:
    method: post
    uri: https://bulk.api.bingads.microsoft.com/Bulk/v13/BulkUploadStatus/Query
    body:
      encoding: UTF-8
      string: '{"RequestId":"c65cf9c8-8b2a-46c9-b2b3-b959e71ef186"}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - 4b274dc1-bc32-4657-8694-dc4cc6a33f6a
      X-Ms-Trackingid:
      - 4b274dc1-bc32-4657-8694-dc4cc6a33f6a
      Trackingid:
      - 4b274dc1-bc32-4657-8694-dc4cc6a33f6a
    body:
      encoding: UTF-8
      string: '{"RequestStatus":"InProgress","ResultFileUrl":null,"PercentComplete":0,"ForwardCompatibilityMap":[],"Errors":null}'
  recorded_at: Fri, 04 Sep 2026 08:49:48 GMT
[...]
- request:
    method: post
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/Campaigns/QueryByAccountId
    body:
      encoding: UTF-8
      string: '{"AccountId":"[BING_ACCOUNT_ID]","Fields":["Id","Name"]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - 83730f50-66b0-4e7a-89e6-1654a28b8b96
      X-Ms-Trackingid:
      - 83730f50-66b0-4e7a-89e6-1654a28b8b96
      Trackingid:
      - 83730f50-66b0-4e7a-89e6-1654a28b8b96
    body:
      encoding: UTF-8
      string: '{"Campaigns":[{"Id":"424586115","Name":"10200048 - 10200048 - SN -
        B - Activit\u00E9 - Caisses Enregistreuses, Terminaux de Paiement - GeoLoc
        - ETA - 106471","Status":"Paused","DailyBudget":0.05,"BudgetType":"DailyBudgetStandard","TimeZone":"PacificTimeUSCanadaTijuana","Settings":null,"CampaignType":"Search","SubType":null,"AudienceAdsBidAdjustment":0,"TrackingUrlTemplate":null,"FinalUrlSuffix":null,"UrlCustomParameters":null,"BiddingScheme":{"Type":"EnhancedCpc"},"BudgetId":"10239202337148","Languages":null,"ExperimentId":null,"ForwardCompatibilityMap":[]},{"Id":"424586117","Name":"10200048
        - 10200048 - SN - E - Produits - Logiciels de Caisses - GeoLoc - ETA - 106474","Status":"Paused","DailyBudget":0.05,"BudgetType":"DailyBudgetStandard","TimeZone":"PacificTimeUSCanadaTijuana","Settings":null,"CampaignType":"Search","SubType":null,"AudienceAdsBidAdjustment":0,"TrackingUrlTemplate":null,"FinalUrlSuffix":null,"UrlCustomParameters":null,"BiddingScheme":{"Type":"EnhancedCpc"},"BudgetId":"10239202337148","Lan[...]
- request:
    method: post
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/AdGroups/QueryByCampaignId
    body:
      encoding: UTF-8
      string: '{"AccountId":"[BING_ACCOUNT_ID]","CampaignId":"533654439","Fields":["Id","Name"]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - 2ec53731-c661-4e3c-a8ba-26340589dd70
      X-Ms-Trackingid:
      - 2ec53731-c661-4e3c-a8ba-26340589dd70
      Trackingid:
      - 2ec53731-c661-4e3c-a8ba-26340589dd70
    body:
      encoding: UTF-8
      string: '{"AdGroups":[{"Id":"1355700564075735","Name":"SDK VCR Ad Group","StartDate":{"Year":2026,"Month":9,"Day":4},"EndDate":null,"Language":"English","Status":"Paused","PrivacyStatus":null,"CpcBid":{"Amount":0.05},"Network":"OwnedAndOperatedAndSyndicatedSearch","AdRotation":null,"AudienceAdsBidAdjustment":null,"TrackingUrlTemplate":null,"FinalUrlSuffix":null,"UrlCustomParameters":null,"BiddingScheme":{"Type":"InheritFromParent","InheritedBidStrategyType":"EnhancedCpc"},"Settings":null,"ForwardCompatibilityMap":[]}]}'
  recorded_at: Fri, 04 Sep 2026 08:49:51 GMT
- request:
    method: post
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/Keywords/QueryByAdGroupId
    body:
      encoding: UTF-8
      string: '{"AccountId":"[BING_ACCOUNT_ID]","AdGroupId":"1355700564075735","Fields":["Id","Keyword","Status"]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - '08f8c221-9d17-4e61-994a-8553e35da35a'
      X-Ms-Trackingid:
      - '08f8c221-9d17-4e61-994a-8553e35da35a'
      Trackingid:
      - '08f8c221-9d17-4e61-994a-8553e35da35a'
    body:
      encoding: UTF-8
      string: '{"Keywords":[{"Id":"84732540655252","Bid":{"Amount":0.1},"MatchType":"Exact","Param1":"","Param2":"","Param3":"","Text":"sdk
        vcr keyword","Status":"Paused","EditorialStatus":"Active","DestinationUrl":"","TrackingUrlTemplate":null,"UrlCustomParameters":null,"FinalUrls":null,"FinalMobileUrls":null,"FinalAppUrls":null,"BiddingScheme":{"Type":"InheritFromParent","InheritedBidStrategyType":"EnhancedCpc"},"FinalUrlSuffix":null,"ForwardCompatibilityMap":[]}]}'
  recorded_at: Fri, 04 Sep 2026 08:49:52 GMT
- request:
    method: post
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/Keywords
    body:
      encoding: UTF-8
      string: '{"AdGroupId":"1355700564075735","Keywords":[{"Text":"sdk vcr editorial
        keyword","MatchType":"Exact","Status":"Paused","Bid":{"Amount":0.1}}]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - 5b433853-929a-40a9-95d5-05c33e72b924
      X-Ms-Trackingid:
      - 5b433853-929a-40a9-95d5-05c33e72b924
      Trackingid:
      - 5b433853-929a-40a9-95d5-05c33e72b924
    body:
      encoding: UTF-8
      string: '{"KeywordIds":["84732540655253"],"InheritedBidStrategyTypes":null,"PartialErrors":[]}'
  recorded_at: Fri, 04 Sep 2026 08:49:53 GMT
- request:
    method: post
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/Keywords/QueryByEditorialStatus
    body:
      encoding: UTF-8
      string: '{"AdGroupId":"1355700564075735","EditorialStatus":"Active"}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID[...]
- request:
    method: delete
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/Campaigns
    body:
      encoding: UTF-8
      string: '{"AccountId":"[BING_ACCOUNT_ID]","CampaignIds":["533654439"]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - fe4fa3d5-5cca-4881-a973-68ad173adc11
      X-Ms-Trackingid:
      - fe4fa3d5-5cca-4881-a973-68ad173adc11
      Trackingid:
      - fe4fa3d5-5cca-4881-a973-68ad173adc11
    body:
      encoding: UTF-8
      string: '{"PartialErrors":[]}'
  recorded_at: Fri, 04 Sep 2026 08:49:54 GMT
recorded_with: VCR 6.4.0
