---
http_interactions:
- request:
    method: post
    uri: https://bulk.api.bingads.microsoft.com/Bulk/v13/BulkUploadUrl/Query
    body:
      encoding: UTF-8
      string: '{"AccountId":"[BING_ACCOUNT_ID]","CompressUpload":false,"AccountUploadScope":"Customer","Entities":["Campaigns"]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - 6b89782b-7cd4-40aa-91c9-4aab2fb72ca7
      X-Ms-Trackingid:
      - 6b89782b-7cd4-40aa-91c9-4aab2fb72ca7
      Trackingid:
      - 6b89782b-7cd4-40aa-91c9-4aab2fb72ca7
    body:
      encoding: UTF-8
      string: '{"UploadUrl":"https://campaign.api.bingads.microsoft.com/Api/Advertiser/CampaignManagement/FileUpload/File/UploadBulkFile/2cc9856c-6f39-435e-9c4a-66457793dd2c?Ver=13","RequestId":"2cc9856c-6f39-435e-9c4a-66457793dd2c"}'
  recorded_at: Thu, 03 Sep 2026 10:37:49 GMT
recorded_with: VCR 6.4.0
