---
http_interactions:
- request:
    method: post
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/SharedEntity
    body:
      encoding: UTF-8
      string: '{"SharedEntity":{"Name":"SDK VCR Shared List c00dcd10","Type":"NegativeKeywordList"},"ListItems":[{"Type":"NegativeKeyword","Text":"sdk-vcr-shared-keyword","MatchType":"Exact"}],"SharedEntityScope":"Account"}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - 771e2bc6-0747-41ca-8289-d13f8378cf70
      X-Ms-Trackingid:
      - 771e2bc6-0747-41ca-8289-d13f8378cf70
      Trackingid:
      - 771e2bc6-0747-41ca-8289-d13f8378cf70
    body:
      encoding: UTF-8
      string: '{"SharedEntityId":"228699384822798","ListItemIds":["14304359198928"],"PartialErrors":[]}'
  recorded_at: Thu, 03 Sep 2026 12:15:21 GMT
- request:
    method: delete
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/SharedEntities
    body:
      encoding: UTF-8
      string: '{"SharedEntities":[{"Id":"228699384822798","Type":"NegativeKeywordList"}],"SharedEntityScope":"Account"}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - 3571d398-df67-460c-adda-5b56601c4930
      X-Ms-Trackingid:
      - 3571d398-df67-460c-adda-5b56601c4930
      Trackingid:
      - 3571d398-df67-460c-adda-5b56601c4930
    body:
      encoding: UTF-8
      string: '{"PartialErrors":[]}'
  recorded_at: Thu, 03 Sep 2026 12:15:22 GMT
recorded_with: VCR 6.4.0
