---
http_interactions:
- request:
    method: put
    uri: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/UetTags
    body:
      encoding: UTF-8
      string: '{"UetTags":[{"Id":211077200,"Name":"SDK VCR Existing UET","Description":"SDK
        VCR update"}]}'
    headers:
      Developertoken:
      - "[BING_DEVELOPER_TOKEN]"
      Clientid:
      - "[BING_CLIENT_ID]"
      Clientsecret:
      - "[BING_CLIENT_SECRET]"
      Content-Type:
      - application/json
      Customeraccountid:
      - "[BING_ACCOUNT_ID]"
      Customerid:
      - "[BING_CUSTOMER_ID]"
      Authorization:
      - Bearer [BING_ACCESS_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Requestid:
      - 8d985b14-a783-4b32-a37b-f217f71c7847
      X-Ms-Trackingid:
      - 8d985b14-a783-4b32-a37b-f217f71c7847
      Trackingid:
      - 8d985b14-a783-4b32-a37b-f217f71c7847
    body:
      encoding: UTF-8
      string: '{"PartialErrors":[]}'
  recorded_at: Thu, 03 Sep 2026 12:03:35 GMT
recorded_with: VCR 6.4.0
